 body {
    background-color: rgb(20,21,25);
    font-family: 'Overpass', sans-serif;
    color: hsl(0, 0%, 100%);
}

.container {
    background-color: rgb(31,38,48);
    width: 310px;
    height: 290px;
    border-radius: 10%;
    font-family: 'Overpass', sans-serif;
    padding: 30px;
    position: relative;
    margin: auto;
    margin-top: 300px;
}

.image {
    background: rgb(40,46,54);
    border-radius: 50%;  
    height: 30px;
    width: 30px;;
}

.title {
    font-size: 25px;
}

.paragraph {
    font-size: 14px;
    line-height: 20px;
    color: hsl(217, 12%, 63%);
}
 
.circle-parent {
    width: 340px;
}

.circle-child {
    width: 20%;
    float: left;
}

.circle-1 {
    background: rgb(40,46,54);
    border-radius: 50%;  
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px; 
}

.circle-1:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.button {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 5%;
    width: 310px;
    height: 35px;    
    border: none;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    transition-duration: 0.3s;
    position: relative;
  }
  
.button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
  } 
 
 /* 

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/